<div class="feedbackCriteria">
  <div class="row">
    <button mat-stroked-button a routerLink="/main/feedback-criteria/add-feedback-criteria">Add new</button>
  </div>
  <div class="row">
    <mat-form-field>
      <input matInput (keyup)="search($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-paginator [pageSizeOptions]="[5, 10, 1]" showFirstLastButtons></mat-paginator>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let feedbackCriteria" a routerLink="./{{feedbackCriteria.id}}"> {{feedbackCriteria.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="questions">
      <mat-header-cell *matHeaderCellDef> Questions </mat-header-cell>
      <mat-cell *matCellDef="let feedbackCriteria" a routerLink="./{{feedbackCriteria.id}}">
        <div>
          <mat-list role="list" *ngFor="let questions of feedbackCriteria.questions ">
            {{questions.name}}
          </mat-list>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
      <mat-cell *matCellDef="let feedbackCriteria" a routerLink="./{{feedbackCriteria.id}}">
        <div>
          <mat-list role="list" *ngFor="let questions of feedbackCriteria.questions ">
            {{questions.weight}}
          </mat-list>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="questionType">
      <mat-header-cell *matHeaderCellDef> Type of Question </mat-header-cell>
      <mat-cell *matCellDef="let feedbackCriteria" a routerLink="./{{feedbackCriteria.id}}">
        <div>
          <mat-list role="list" *ngFor="let questions of feedbackCriteria.questions ">
            {{questions.type}}
          </mat-list>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</div>
