<div class="myToolbar">
  <mdc-toolbar-row>
    <mdc-toolbar-section>
      <div class="ua">
        <a [routerLink]="['/main']" [ngStyle]="{'color' : 'white'}">UA</a>
      </div>
      <div class="transport">
        <a [routerLink]="['/main']" [ngStyle]="{'color' : 'white'}">Transport</a>
      </div>

    <div class="criteriaButton">
      <a [routerLink]="['/main/feedback-criteria']">
        <button mdc-button [secondary]="true" type="submit">{{ 'Feedback'| translate}}</button>
      </a>
    </div>


  <div class="NewUser">
    <a *ngIf="!hasToken()">
      <button mdc-button [secondary]="true" type="submit" (click)="openModal()">{{'User' | translate}}</button>
    </a>
  </div>

  <div class="LoginUser">
    <a *ngIf="!hasToken()">
      <button mdc-button [secondary]="true" type="submit" (click)="openLogInModal()">{{'Log In'| translate}}</button>
    </a>
    <a (click)="logOut()" *ngIf="hasToken()">
      <button mdc-button [secondary]="true" type="submit">{{'Log Out'| translate}}</button>
    </a>
  </div>

      <div class="userProfile" style="margin-left: 15px">
        <a [routerLink]="['/main/user/profile']" *ngIf="hasToken()">
          <button mdc-button [secondary]="true" type="submit">MyProfile</button>
        </a>
      </div>
    </mdc-toolbar-section>
    <div class="Search">
      <app-search-field></app-search-field>
    </div>

  </mdc-toolbar-row>
</div>
