<div class="menu-wrapper">
  <mat-accordion>
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <div class="icon">
            </div>
            <div class="text">
              <h4 class="mb-4">{{'UsersConf' | translate}}</h4>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mdc-list>
        <mdc-list-item>
          <a [routerLink]="['/main/admin/all-users']">
            <div class="title">
              <div class="text">
                {{'Show all users' | translate}}
              </div>
            </div>
          </a>
        </mdc-list-item>
        <mdc-list-item>
          <a (click)="updateRole()">
            <div class="title">
              <div class="icon">
              </div>
              <div class="text">
                {{'Edit user role'| translate}}
              </div>
            </div>
          </a>
        </mdc-list-item>
      </mdc-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <div class="icon">
            </div>
            <div class="text">
              <h4 class="mb-4">{{'CriteriaConf' | translate}}</h4>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mdc-list>
        <mdc-list-item>
          <a [routerLink]="['/main/admin/feedback-criteria']">
            <div class="title">
              <div class="icon">
              </div>
              <div class="text">
                {{'Show all' | translate}}
              </div>
            </div>
          </a>
        </mdc-list-item>
      </mdc-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="title">
            <div class="icon">
            </div>
            <div class="text">
              <h4 class="mb-4">{{'CategoryConfiguration' | translate}}</h4>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mdc-list>
        <mdc-list-item>
          <a (click)="addCategory()">
            <div class="title">
              <div class="icon">
              </div>
              <div class="text">
                {{'Add category' | translate}}
              </div>
            </div>
          </a>
        </mdc-list-item>
      </mdc-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
