<div class="container">
  <div class="container text-center">
    <div class="row" >
      <div class="col-12">
        <hr>
        <h4 class="mb-4">Users configuration(edit/add/search)</h4>
        <div class="row">
        </div>
        <button mat-raised-button [routerLink]="['/user/add']"
                color="primary" class="mb-4" style="width:100%;">Users
        </button>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr>
        <h4 class="mb-4">Criteria configuration(edit/add/search)</h4>
        <div class="row">
        </div>
        <button mat-raised-button [routerLink]="['/feedback-criteria']"
                color="primary" class="mb-4" style="width:100%;">Criteria
        </button>

      </div>
    </div>
  </div>
</div>
