<div class="container">
  <div class="container text-center">
    <div class="row" >
      <div class="col-12">
        <hr>
        <h4 class="mb-4">{{'UsersConf' | translate}}</h4>
        <div class="row">
        </div>
        <button mat-raised-button [routerLink]="['update-role/']"
                color="primary" class="mb-4" style="width:100%;">{{'Users' | translate}}
        </button>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <hr>
        <h4 class="mb-4">{{'CriteriaConf' | translate}}</h4>
        <div class="row">
        </div>
        <button mat-raised-button [routerLink]="['main/feedback-criteria']"
                color="primary" class="mb-4" style="width:100%;">{{'FeedbackCriteria' | translate}}
        </button>

      </div>
    </div>

  </div>
  <app-update-role></app-update-role>
</div>
