<div class="search">
  <button mat-stroked-button (click)="gotBack()">Go back</button>
</div>
<div class="transit">
  <div class="row">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
    </mat-paginator>
    </div>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="categoryId">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let transit">
        <img src="transit.category.iconURL">
        <!-- <img [src]=" {{transit.category.iconURL}}"/>  -->
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
      <mat-cell *matCellDef="let transit"> {{transit.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="routeName">
      <mat-header-cell *matHeaderCellDef> Route </mat-header-cell>
      <mat-cell *matCellDef="let transit"> {{ transit.routeName }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;let transit;" [routerLink]="['/show-transit-scheme', transit.categoryId,
          transit.id, transit.name]">
    </mat-row>
  </mat-table>
</div>