@import "~@angular-mdc/theme/material";

$mdc-theme-primary: #43659c; // change primary color example
$mdc-theme-secondary:#ffffff; // change secondary color example

.allComments {
  position: relative;
  top: 50px;
  width: 70%;
  border: 1px solid #ccc!important;
  border-radius: 10px;
  margin: 20px auto;
}

.oneComment {
  width: 100%;
}

.leaveComment {
  width: 100%;
}

.addComment {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
}

.postButton {
  margin-top: 2px;
}

.sortComments {
  position: absolute;
  right: 15px;
}

.underline {
  border-bottom: 1px solid #ccc!important;
  margin-top: 20px;
}
