
.question-form {
  width: 100%;
  height: 85%;

}

.mat-slider {
  margin: 12px;
  width: 90%;
}

.comment {
  width: 100%;
}

.radio {
  flex-direction: column;
  flex-wrap: wrap;
}

.capacity {
  margin: 10px;
  width: 15%;
}

.stopSelect {
  margin: 10px;
  width: 40%;
}

.Hour {
  width: 12%;
}

.mat-card-actions {
  margin-top: 40%;
}

.scrollable-table {
  overflow-y: auto;
  min-height: 400px;
  max-height: 450px;
}

.Time {
  margin: 10px;
  width: 15%;
}


