<div class="non">
  <div class="non-category-wrapper">
    <div class="non-category" *ngFor="let category of list | async">
      <div class="name-and-icon"
           [routerLink]="['/category',
              category.nextLevelCategory.nextLevelCategory.name,
              category.nextLevelCategory.name,
              category.id]">
        <img src="{{serverURL}}{{category.iconURL}}"/><br/>
        {{category.name}}
      </div>
    </div>
  </div>
  <div class="cityTransits">
    <app-transits></app-transits>
  </div>
</div>

<div class="demo-content">
  <h3>Discrete Slider</h3>
  <mdc-slider #demodiscrete [min]="discreteMin" [max]="discreteMax" [discrete]="true" [value]="50" (input)="discreteInputEventValue = $event.value"
              (change)="discreteChangeEventValue = $event.value"></mdc-slider>
  <mdc-text-field [(ngModel)]="discreteMin" label="Min" type="number"></mdc-text-field>
  <mdc-text-field [(ngModel)]="discreteMax" label="Max" type="number"></mdc-text-field>
  <div class="demo-content--row">
    <button mdc-button (click)="demodiscrete.disabled = !demodiscrete.disabled">Disabled: {{demodiscrete.disabled ? 'On' : 'Off'}}</button>
  </div>
  <p>Slider value: {{demodiscrete.value}}</p>
  <p>Value from input event: {{discreteInputEventValue}}</p>
  <p>Value from change event: {{discreteChangeEventValue}}</p>
</div>
