 <mat-toolbar color="primary">{{ 'FeedbackInfo' | translate}} {{transitName}}</mat-toolbar>
     <!-- <mat-tab-group  mat-stretch-tabs color="primary" backgroundColor="primary">
            <mat-tab  ></mat-tab>
            <mat-tab  ></mat-tab> 
            <mat-tab  ></mat-tab>
          </mat-tab-group>  -->
  <form class="question-form">

    <mat-card-content>
      <mat-list > 
        
        <p *ngFor="let questioner of survey">
            <mat-list *ngIf="questioner.type == 'RATING'">
                <p  *ngFor="let question of questioner.questions;let i =index">
                    <!-- {{question}} -->
                 <mat-hint align="center"><strong>{{question}}</strong></mat-hint>    
                    <!--  <mat-form-field  class="full-width">  -->
                         <mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="1" min="1" max="10" [(ngModel)]="questioner.answer[i]" [ngModelOptions]="{standalone: true}"></mat-slider>
                          <!-- <input matInput  type="number" min=0 max=10 placeholder= "Введіть оцінку від 1 до 10"value="0" [(ngModel)]="questioner.answer[i]" [ngModelOptions]="{standalone: true}"> 
                     </mat-form-field>  -->
                </p> 
            </mat-list>
            <mat-list  *ngIf="questioner.type == 'ACCEPTER'">
                <p *ngFor="let question of questioner.questions">
                    <mat-hint align="center"><strong>{{question}}</strong></mat-hint>  
                      <label class="radio" for="answer" *ngFor="let answer of checkBoxAnswers">
                      <input type="radio"  [value]="answer" [name]="answer" [(ngModel)]="questioner.answer">{{ answer | lowercase | translate }}
                    </label>
                  </p>  
                 
            </mat-list> 
        </p>
      </mat-list>
    <mat-form-field class ="comment">           
     <textarea  matInput #message maxlength="256" placeholder="Comment" ></textarea>
     <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
             
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="saveAllFeedback()">{{ 'Save' | translate}}</button>
        <button mat-raised-button (click)="close()">{{ 'Close' | translate}}</button>
    </mat-card-actions>
  </form> 
  <!-- <mdc-slider [discrete]="true" [markers]="true" class="demo-slider--custom"></mdc-slider> -->
