agm-map {
  height: 400px;
  width: auto;
}
#map-wrapper{
  margin: 5px;
  box-shadow: 0px 0px 10px 1px rgba(166, 167, 168,1);

}
#wrapper{
  position: relative;
  top: 16%;
  left: 50%;
  width: 1200px;
  transform: translateX(-50%);
}
button{
   border: darkgrey solid 1px;
   border-radius: 4px;
   margin: 8px 2px;
  height: 25px;
  line-height: 25px;
 }
.stop-list{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  word-spacing: 2.4px;
  color: #A8A8A8;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: italic;
}
mat-vertical-stepper{

}
mat-accordion{
  position: absolute;
  z-index: 1000;
}
mat-panel-title{
  color: #43659c;
  font-weight: 600;
}
mat-expansion-panel{
  width: 300px;
}
