<div>
  <mdc-select ngModel="Geotag" (selectionChange)="onSelectionChange($event)">
    <option *ngFor="let location of availableLocations" [value]="location.name.substring(1)">
      {{location.name.substring(1)}}
    </option>
  </mdc-select>
</div>
<!--<mat-form-field (click)="getAllTransitsByCategoryId(transport.id)">-->
  <!--<mat-select placeholder="{{'Choose NumberTransit' | translate}}" [(ngModel)]="transit" name="transit">-->
    <!--<mat-option *ngFor="let transit of transitlist" [value]="transit">-->
      <!--{{transit.name | translate }}-->
    <!--</mat-option>-->
  <!--</mat-select>-->
<!--<mdc-select ngModel="ngModel" name="food" (change)="onChange($event)"-->
            <!--(selectionChange)="onSelectionChange($event)">-->
  <!--<option *ngFor="let food of foods" [value]="food.value" [disabled]="food.disabled">-->
    <!--{{food.description}}-->
  <!--</option>-->
<!--</mdc-select>-->
