<div class="demo-grid-list">
  <app-back-to-previous-page-btn></app-back-to-previous-page-btn>
  <p style="text-align: center">{{"Route" | translate}}<span> {{transitName}}</span></p>
  <app-maps (toggleDirection)="changeDirection($event)"></app-maps>
  <div class="stops-scheme">
    <div *ngIf="directionForward">
      <h3>{{'Forward' | translate }}</h3>
        <div *ngIf="forwardStops.length">
          <div *ngFor="let i=index; let tile of forwardStops" class="tile" (click)="selectStop(tile)">
            <label [for]="tile.id" class="tile-content">
              <div><span>{{i+1}}.</span><span>{{tile.street}}</span></div>
              <img height="32" width="42" src="{{ categoryIconURL }}{{ iconURL }}"
                   [ngClass]="{'image-opacity': isSelected(tile)}">
            </label>
            <img height="22" width="85px" src="../../../../../../../assets/img/road-icon.png"
                 [ngClass]="{'image-opacity': isSelected(tile)}">
          </div>
        </div>
    </div >
    <div *ngIf="!directionForward">
      <h3>{{'Backward' | translate }}</h3>
        <div *ngFor="let i=index; let tile of backwardStops" class="tile" (click)="selectStop(tile)">
          <label [for]="tile.id" class="tile-content">
            <div><span>{{i+1}}.</span><span>{{tile.street}}</span></div>
            <img height="32" width="42" src="{{ categoryIconURL }}{{ iconURL }}"
                 [ngClass]="{'image-opacity': isSelected(tile)}">
          </label>
          <img height="22" width="85px" src="../../../../../../../assets/img/road-icon.png"
               [ngClass]="{'image-opacity': isSelected(tile)}">
        </div>
    </div>
  </div>

  <app-raiting-diagram [id]="idTransit"></app-raiting-diagram>
  <app-average-rate [id]="idTransit"></app-average-rate>
  <app-my-rate [id]="idTransit" [userId]="1" *ngIf="this.authService.hasToken()"></app-my-rate>
  <app-busy-stops-diagram [id]="idTransit" [stopList]="selectedStops"></app-busy-stops-diagram>
  <app-busy-hours-diagram [id]="idTransit"></app-busy-hours-diagram>
  <app-comments [id]="idTransit"></app-comments>
</div>
<app-back-to-previous-page-btn></app-back-to-previous-page-btn>
<div>
  <button class="add" mdc-fab position='bottom-right' (click)="openModal()">
    <mdc-icon>edit</mdc-icon>
  </button>
</div>

