<div class="demo-grid-list">
  <button mat-raised-button color="primary" (click)="openModal()">{{ 'Feedback' | translate}}</button>
  <app-back-to-previous-page-btn></app-back-to-previous-page-btn>
  <p style="text-align: center">{{"Route" | translate}}<span> {{transitName}}</span></p>
  <div class="tab-group">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="{{'Forward' | translate }}">
        <mat-grid-list *ngIf="forwardStops.length" [cols]="10" rowHeight="70px">
          <mat-grid-tile
            *ngFor="let i=index; let tile of forwardStops" class="tile">
            <label [for]="tile.id" class = "tile-content">
              <div>{{tile.street}}</div>
              <input type="checkbox" [(ngModel)]="checkedItems[i]" [id]="tile.id" (change)='selectStops()'>
              <img src="../../../assets/img/list.png">
            </label>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="{{'Backward' | translate }}">
        <mat-grid-list *ngIf="backwardStops.length" [cols]="12" rowHeight="70px">
          <mat-grid-tile
            *ngFor="let i=index; let tile of backwardStops" class="tile">
            <label [for]="tile.id" class = "tile-content">
              <div>{{tile.street}}</div>
              <input type="checkbox" [(ngModel)]="checkedItems[i]" [id]="tile.id" (change)='selectStops()'>
              <img src="../../../assets/img/list.png">
            </label>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </div>

  <app-raiting-diagram [id]="idTransit"></app-raiting-diagram>
  <app-average-rate [id]="idTransit"></app-average-rate>
  <app-my-rate [id]="idTransit" [userId]="1"></app-my-rate>
  <app-busy-stops-diagram [id]="idTransit"></app-busy-stops-diagram>
  <app-busy-hours-diagram [id]="idTransit"></app-busy-hours-diagram>
  <app-comments [id]="idTransit"></app-comments>
</div>
<app-back-to-previous-page-btn></app-back-to-previous-page-btn>
<div >
<button  class="add" mdc-fab position='bottom-right' (click)="openModal()">
    <mdc-icon>edit</mdc-icon>
  </button>
</div>

