<div class="category-wrapper">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let category of list | async">
      <mat-expansion-panel-header (click)="getCities(category.name)">
        <mat-panel-title>
          <div class="title">
            <div class="icon">
              <img src="{{serverURL}}{{category.iconURL}}"/>
            </div>
            <div class="text">
              {{category.name}}
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mdc-list>
        <mdc-list-item *ngFor="let city of cities | async">
          <a [routerLink]="['/main', category.name, city.name]">
            <div class="title">
              <div class="icon">
                <img src="{{serverURL}}{{city.iconURL}}"/>
              </div>
              <div class="text">
                {{city.name}}
              </div>
            </div>
          </a>
        </mdc-list-item>
      </mdc-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
