<form class="example-form">
  <mat-form-field appearance="outline" (keyup.enter)="onEnter($event.target.value)">
    <input aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" (keyup)="useFilter(myControl.value)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let transit of filteredOptions | async" [value]="transit.name"
      (click)="myEvent(transit)">
        <img src="{{ categoryIconURL }}{{ transit.category.iconURL }}" style="width:20px; height:20px;">
        {{transit.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <app-location-picker></app-location-picker>
</form>
