<div class="update-role">

  <h4 mat-dialog-title>{{'Select role for' | translate}} {{firstName}} {{lastName}}</h4>
    <mat-form-field appearance="standard">
    <mat-select placeholder="{{'role' | translate}}" [(ngModel)]="role" name="role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button">
    <div class = "stroked-button-left" ><button mat-stroked-button (click)="close()">{{'Close' | translate}}</button></div>
    <div class = "stroked-button-right"><button mat-stroked-button (click) = "updateRole()" > {{'Save' | translate}} </button></div>
  </div>
</div>
