.update-role {
  font-size: 14px;
  width: 300px;
  margin: auto auto;
}

.mat-form-field {
  width: 100%;

}

.questionadd .mat-list {
  width: 60%;
}

.stroked-button-left {
  padding-top: 2%;
  display: inline-block;
}

.stroked-button-right {
  margin: 2% 0 0 0;
  float: right;
  display: inline-block;
}
