<div class="NewUserForm">
  <div class="title">Log in </div>
  <form [formGroup]="loginForm" (ngSubmit)="logIn()" *ngIf="!isSent">
    <div class="form-group">
      <mat-form-field class="mat-form-f">
        <input matInput placeholder="Enter your email" formControlName="email" [formControl]="email" required>
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field  class="mat-form-f">
        <input matInput placeholder="Password" formControlName="password" required
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide" class="cursor">{{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
          Password must contain more than 6 characters
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('maxlength') && !passwordControl.hasError('required')">
          Password must contain less than 16 characters
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-button class="button">Log in</button>
    </div>
    <div class="form-group">
      <button mat-button class="button2" (click)="openForgetPassword()">Forget password</button>
    </div>
  </form>
  <app-social-sing-in></app-social-sing-in>
</div>
