<app-back-to-previous-page-btn></app-back-to-previous-page-btn>
<div class="non">
  <div class="non-category-wrapper">
    <div class="non-category" *ngFor="let category of list | async">
      <div class="name-and-icon"
           [routerLink]="['/main',
              category.nextLevelCategory.nextLevelCategory.name,
              category.nextLevelCategory.name,
              category.id]">
        <div class="image">
          <img src="{{serverURL}}{{category.iconURL}}"/>
        </div>
        <div class="text">
          {{category.name}}
        </div>
        <div class="count">
          <h3>{{category.countOfTransits}}</h3>
          transits<br/>
          available
         </div>
      </div>
    </div>
  </div>
  <div class="cityTransits">
    <app-transits></app-transits>
  </div>
</div>
