.add-category {
  font-size: 14px;
  width: 100%;
  /*margin: 150px 400px;*/
}

.mat-form-field {
  width: 70%;

}

.questionadd .mat-list {
  width: 70%;
}

.stroked-button-left {
  padding-top: 2%;
  display: inline-block;
}

.stroked-button-right {
  margin: 2% 30% 0 0;
  float: right;
  display: inline-block;
}
