
.feedbackCriteria{
  font-size: 14px;
  width: 50%;
  margin: auto auto;
}
.mat-elevation-z8{
  width: 100%;
}
.mat-stroked-button{
  position: right;
  margin-bottom: 2%;
}
.mat-form-field{
  float: left;
}
.mat-paginator{
  right: 1px;
}
.mat-column-type{
  max-width: 150px;
}
.mat-column-weight{
  max-width: 100px;
}
.mat-column-questionType{
  max-width: 100px;
  right: 5px;
}
.mat-cell{
  margin-bottom: 1%;
}
