//You can add global styles to this file, and also import other style files
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

$mdc-theme-primary: #43659c; // change primary color example
$mdc-theme-secondary:#ffffff; // change secondary color example

@import "~@angular-mdc/theme/material";
@import "~@material/typography/mdc-typography";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '~angular-star-rating/scss/star-rating.scss';

.add{
    @include mdc-fab-accessible($material-color-blue-500);
    background-color: #00BCD4 !important;
}
