<div class="NewUserForm">
  <div class="title">Change Password </div>
  <form [formGroup]="updatePasswordForm"  *ngIf="!_isSent">
      <div class="form-group">
        <mat-form-field  class="mat-form-f">
          <input matInput placeholder="Enter old password" formControlName="oldPassword" required
                 [type]="hideOld ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide" class="cursor">{{hideOld ? 'visibility' : 'visibility_off'}}
          </mat-icon>
          <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
            Password must contain more than 6 characters
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('maxlength') && !passwordControl.hasError('required')">
            Password must contain less than 16 characters
          </mat-error>
          <mat-error *ngIf="passwordControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    <div class="form-group">
      <mat-form-field  class="mat-form-f">
        <input matInput placeholder="Enter new password" formControlName="newPassword" required
               [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide" class="cursor">{{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
          Password must contain more than 6 characters
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('maxlength') && !passwordControl.hasError('required')">
          Password must contain less than 16 characters
        </mat-error>
        <mat-error *ngIf="passwordControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field  class="mat-form-f">
        <input matInput placeholder="Confirm your new password" formControlName="passwordConfirmation" required
               [type]="hideConfirm ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideConfirm = !hideConfirm" class="cursor">{{hideConfirm ? 'visibility' : 'visibility_off'}}
        </mat-icon>
        <mat-error *ngIf="passwordConfirmationControl.hasError('MatchPassword') && !passwordConfirmationControl.hasError('required')">
          Passwords doesn`t match
        </mat-error>
        <mat-error *ngIf="passwordConfirmationControl.hasError('minlength') && !passwordControl.hasError('required')">
          Password must contain more than 6 characters
        </mat-error>
        <mat-error *ngIf="passwordConfirmationControl.hasError('maxlength') && !passwordControl.hasError('required')">
          Password must contain less than 16 characters
        </mat-error>
        <mat-error *ngIf="passwordConfirmationControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="button">
        <button mat-button class="button" (click)="sendUpdatePassword()">Submit</button>
      </div>
    </div>
  </form>
  <div class="form-group" *ngIf="_isSent">
    <div class="col-12 text-center">
      <h4 style="color:black">Password changed</h4>
      </div>
  </div>
</div>
