<div class="comment">

  <div class="commentInformation">
    <div class="row">
      <!--{{ comment.userId }}-->
      Firstname Lastname
      <!--<button (click)="addTopLevelComment(1, 4, testComment)"></button>-->
      <div class="modified">
        <div *ngIf="modified">
          {{ comment.modifiedDate }}
        </div>
      </div>
    </div>
    <div class="row">
      <p> {{ comment.commentText }} </p>
    </div>

    <div class="underline"></div>

  </div>

  <div class="childComments" *ngIf="comment.parent">
    <div class="childComments" *ngFor="let comment of childComments">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </div>

</div>
