<div class="comment">

  <div class="commentInformation">
    <div class="row userAndPostedTime">
      <span style="font-size: large"> {{ userInfo.firstName }} {{ userInfo.lastName }} </span>
      <span style="font-size: small">{{ postCommentDate }}</span>
      <span style="margin-left: 3px" *ngIf="modified" title="{{ modifiedCommentDate }}">
        <mdc-icon [fontSize]="18">edit</mdc-icon>
      </span>
    </div>
    <div class="commentText"> {{ comment.commentText }}</div>

    <ngx-gallery *ngIf="comment.images !== null" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>

    <div class="reply" (click)="toggleReply()">
      <mdc-icon>reply</mdc-icon>
    </div>
    <div id="{{ comment.id }}" class="replyElement">
      <div class="replyArea">
        <mat-form-field>
          <textarea matInput
                    placeholder="Enter your reply"
                    maxlength="256"
                    [(ngModel)]="replyCommentText"
                    [required]="true"></textarea>
        </mat-form-field>
      </div>
      <div class="picsAndReply">
        <div class="picsButton" (click)="choosePics.click()">
          <input #choosePics
                 style="display:none"
                 type="file"
                 (change)="openChooseDialog($event)"
                 multiple="multiple">
          <mat-icon style="font-size: 36px; padding-top: 7px;" [inline]="true">add_a_photo</mat-icon>
        </div>
        <div class="replyButton">
          <button mdc-button
                  [secondary]="false"
                  [raised]="true"
                  type="submit" (click)="addChildComment()"> Reply
          </button>
        </div>
      </div>
    </div>

    <mat-divider style="margin-right: 10px"></mat-divider>

  </div>

  <div class="childComments" *ngIf="comment.parent">
    <div class="childComments" *ngFor="let comment of childComments">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </div>

</div>
