.comment {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.childComments {
  margin-left: 20px;
}

.row {
  width: 100%;
  margin-left: 0;
}

.commentInformation {

}

.underline {
  border-bottom: 1px solid #ccc!important;
  width: inherit;
  margin-right: 20px;
}
