<div class="comment">

  <div class="commentInformation">
    <div class="row">
      <!--{{ comment.userId }}-->
      Firstname Lastname
      {{ postCommentDate }}
      <div *ngIf="modified">
        Changed {{ modifiedCommentDate }}
      </div>
    </div>
    <div class="row commentText">
      <h4> {{ comment.commentText }} </h4>
    </div>

    <div class="underline"></div>

  </div>

  <div class="childComments" *ngIf="comment.parent">
    <div class="childComments" *ngFor="let comment of childComments">
      <app-comment [comment]="comment"></app-comment>
    </div>
  </div>

</div>
