@import "~@angular-mdc/theme/material";

$mdc-theme-primary: #43659c; // change primary color example
$mdc-theme-secondary:#ffffff; // change secondary color example

.comment {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.childComments {
  margin-left: 20px;
}

.commentText {
  width: 99%;
  margin-left: 5px;
  font-size: large;
}

.userAndPostedTime {
  width: 100%;
  margin-left: 0;
  display: inline-block;
}

.replyElement {
  border: 1px solid #ccc!important;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: none;
}

.reply {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.replyArea {
  width: 98.5%;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.picsAndReply {
  margin-bottom: 15px;
  margin-left: 20px;
  display: flex;
}

.replyButton {
  margin-left: 20px;
}

.mat-form-field {
  width: inherit;
}

.postedDate {
  text-indent: 10px;
}

.mat-card-image {
  height: 200px;
}
