.addCategory {
  font-size: 14px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.mat-form-field {
  width: 70%;

}

.questionadd .mat-list {
  width: 70%;
}

.stroked-button-left {
  padding-top: 2%;
}

.stroked-button-right {
  padding: 2% 30% 0 0;
  float: right;
  clear: right;
}
