<div class="addCategory">

  <h2 mat-dialog-title>Select level of the category</h2>
    <mat-form-field appearance="standard">
    <mat-select *ngIf= "levels" placeholder="Level" [(ngModel)]="catLevel" name="level">
      <mat-option *ngFor="let level of levels" [value]="level">
        {{ level }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button">
    <button class="mat-raised-button"(click)="close()">Close</button>
  </div>
  <div *ngIf="catLevel === 'Global'">
    <app-add-top-category></app-add-top-category>
  </div>
</div>>
