<div class="addCategory">

  <h3 mat-dialog-title>Select level of the category</h3>
    <mat-form-field appearance="standard">
    <mat-select *ngIf= "levels" placeholder="Level" [(ngModel)]="catLevel">
      <mat-option *ngFor="let level of levels" [value]="level">
        {{ level }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="button stroked-button-right">
    <button class="mat-stroked-button" (click)="close()">Back</button>
  </div>

  <div *ngIf="catLevel === 'Global'">
    <br>
    <app-add-top-category></app-add-top-category>
  </div>

  <div *ngIf="catLevel === 'City'">
    <br>
    <app-add-city></app-add-city>
  </div>
</div>>
